<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#get-data-btn").click(function() {
            $.ajax({
                url: "{% url 'get_horoscope_data' %}",
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    $('#horoscope').html(data.horoscope);
                    $('#nativity_analysis').html(data.nativity_analysis);
                    $('#god_of_joy').html(data.god_of_joy);
                }
            });
        });
    });
    </script>
</head>
<body>
    <button id="get-data-btn">获取数据</button>
    <div id="horoscope"></div>
    <div id="nativity_analysis"></div>
    <div id="god_of_joy"></div>
</body>
</html>
